/* style.css */



/*** Base Styles ***/

html {
    scroll-behavior: smooth;
}

body {
    margin: 0; 
    padding: 0;
    font-family: 'Gill Sans', Arial, sans-serif;
    color: #1db954;
    background-color: #121212;
}

h1 {
    font-family: 'Gill Sans', Arial, sans-serif;
    color: #1db954;
}

a {
    text-decoration: none;
}



/*** Navigation Bar Properties ***/

.nav-bar {
    width: 100%;                    /* Span the full width */
    background-color: #121212;    /* Set the color of nav bar */
    position: absolute;             /* Stay on top of the page */
    top: 0;                         /* Align to the top of the viewpoint */
    height: 60px;                   /* Increase the height of the nav bar */
    z-index: 3;
}

.nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: right;              /* Align the list items to the right */
    vertical-align: middle;
    height: 60px;                   /* Full height of the nav bar */
}

.nav-bar li {
    display: inline-block;
    margin-right: 10px;
}

.nav-bar li a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 19px 19px;
    text-decoration: none;
    font-size: 19px;
}

.nav-bar li a:hover {
    background-color: #242424;
}



/*** Landing Page Properties ***/

.landing-page {
    background-image: url('landing-bg.avif');
    background-size: cover;
    position: relative;
    width: 100vw;       /* 100% of the viewport width */
    height: 100vh;      /* 100% of the viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

/* Semi-Transparent Overlay */
.landing-page::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7); 
    z-index: 2;
}

/* Landing Headline */
.landing-headline {
    color: rgba(242, 242, 242, 0.8);
    text-align: center;
    padding: 20px;
    font-size: 5.5vw;
    position: relative;
    z-index: 3;
}

/* Start Button */
.start-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #1db954;
    color: #f2f2f2;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.5vw;
    letter-spacing: 1.2;
    z-index: 3;
}

.start-button:hover {
    background-color: #1e8843;
}



/*** About Page Properties ***/
.about-page {
    background-image: url("about-bg.avif");
    background-size: cover;
    position: relative;
    width: 100vw;       /* 100% of the viewport width */
    height: 100vh;      /* 100% of the viewport height */
    display: flex;
    justify-content: center;
    z-index: 1;
}

/* Semi-Transparent Overlay */
.about-page::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7); 
    z-index: 2;
}

/* About Headings */
.about-page-title {
    padding-top: 9vh;
}

/* About Content */
.about-page-content {
    position: relative;
    color: white; 
    padding: 20px;
    max-width: 600px;
    z-index: 3;
}

/* Github Icon */
.github-icon {
    height: 2em;
    width: 2em;
    padding-top: 2vh;
}



/*** Content Panel Properties ***/

/* Overall Panel */
.content-panel {
    width: 100vw;       /* 100% of the viewport width */
    height: 100vh;      /* 100% of the viewport height */
}

/* Section Headings */
.section-title {
    color: rgba(242, 242, 242, 0.8);
    text-align: center;
    padding-top: 7vh;
    margin-bottom: 0; 
    font-size: 5.4vh;
    position: relative;
    z-index: 3;
}

.section-subtitle {
    color: rgba(29, 185, 84, 0.8);
    text-align: center;
    font-size: 2.5vh;
    padding-bottom: 2vh; 
    position: relative;
    z-index: 3;
}

.section-divider {
    width: 96%; 
    border: 1px solid rgba(167, 167, 167, 0.5);
}

/* Navigation Arrow */
.scroll-arrow {
    display: block;
    text-align: center;
    margin-bottom: 6vh;
    font-size: 6vh;
    font-weight: bold;
    color: #1db954;
    text-decoration: none; 
    transition: color 0.3s; 
    opacity: 0.7
}

.scroll-arrow:hover {
    color: #f2f2f2; /* Change color on hover */
    opacity: 1;
}



/*** Visualization #1: Trend of Musical Attributes Over Time ***/

/* Attribute Checklist */
.checklist-container {
    width: 20%;
    height: 55%;
    display: inline-block;
    vertical-align: top;
}

.attribute-checklist {
    font-size: 1rem;
    padding-top: 6vh;
    padding-left: 5vw;
    line-height: 2;
    accent-color: #1db954;
}

/* Visualization */
.graph-container {
    width: 80%;
    height: 55%;
    display: inline-block;
}

/* Year Range Slider */
.year-range-slider .rc-slider-track {
    background-color: #1db954; /* Color of the filled part of the slider */
}

.year-range-slider .rc-slider-handle, 
.year-range-slider .rc-slider-handle:active, 
.year-range-slider .rc-slider-handle:focus, 
.year-range-slider .rc-slider-handle:hover {
    background-color: #1db954; /* Color of the slider handle */
    border-color: #1db954;
}

.year-range-slider .rc-slider-rail {
    background-color: #a7a7a7; /* Color of the unfilled part of the slider */
}

.year-range-slider {
    width: 90%; 
    margin: 0 auto; /* Center the slider */
}



/*** Visualization #2: Radar Chart for Selected Songs ***/

/* Searchable Dropdown */
.song-selecting-dropdown {
    padding-top: 3vh;
}



/*** Login Page Properties ***/

/* Login Container */
.login-window-container {
    background-image: url('banner-cropped.png');
    background-position: center;
    background-size: cover;
    position: absolute;
    width: 100vw;
    height: 72vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

/* Semi-Transparent Overlay */
.login-window-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 2;
}

.login-window {
    max-width: 320px;
    height: 50vh;
    margin: 8% auto;
    padding: 45px;
    background: rgba(23, 23, 23, 0.8);
    border-radius: 10px;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* User Login Heading */
.login-heading {
    font-size: 2.5em;
    font-weight: bold;
    color: #f2f2f2;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

/* Input Styles */
.first-name-input, .last-name-input {
    background: #f2f2f2;
    font-family: "Gill Sans", sans-serif;
    font-size: 2vh;
    height: 4vh;
    width: 80%;
    border-width: 1px;
    border-color:#1db954;
    border-radius: 5px;
    padding: 6px;
    margin: auto 8%;
    margin-bottom: 3vh; 
}


/* Login Button */
.login-button {
    display: block;
    padding: 10px 20px;
    background-color: #1db954;
    color: #f2f2f2;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.5vw;
    font-family: 'Gill Sans', sans-serif;
    letter-spacing: 1.2;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-weight: 600;
    margin-top: 1vh;
    margin-bottom: 2vh;
}

.login-button:hover {
    background-color: #1e8843;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.login-output {
    font-family: 'Gill Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #f2f2f2;
    margin: auto 8%;
    margin-top: 10px;
}



/*** User Profile Properties ***/

/* User Profile */
.user-info-display {
    border-bottom: solid black 1px;
    display: grid;
    grid-template-columns: 600px auto;
    height: 580px;
    grid-auto-flow: row;
}

/* Recommended Songs */
.recommended-songs {
    border-bottom: solid black 1px;
    display: grid;
    grid-template-columns: 600px auto;
    height: 580px;
    grid-auto-flow: row;
}

.recommended-songs-container {
    display: grid;
    padding-left: 50px;
}

.recommended-songs-title {
    width: 500px;
    font-size: 40px;
    font-weight: 600;
    height: auto;
    font-family: ultraboldFont;
}

.music-style-title {
    font-family: regularFont;
    font-size: 40px;
    display: flex;
    align-items: flex-end;
    height: 100px;
}

/* Logout Button */
.logout-button {
    margin-top: 20px;
    height: 40px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 600;
    display: inline-block;
}