/* style.css */



/* Base Styles */

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Gill Sans', Arial, sans-serif;
    color: #1db954;
    background-color: #121212;
}

h1 {
    font-family: 'Gill Sans', Arial, sans-serif;
    color: #1db954;
}

a {
    text-decoration: none;
}



/** Navigation Bar Properties **/

.nav-bar {
    width: 100%;                    /* Span the full width */
    background-color: #121212;    /* Set the color of nav bar */
    position: absolute;             /* Stay on top of the page */
    top: 0;                         /* Align to the top of the viewpoint */
    height: 60px;                   /* Increase the height of the nav bar */
    z-index: 3;
}

.nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: right;  /* Align the list items to the right */
    vertical-align: middle;
    height: 60px;               /* Full height of the nav bar */
}

.nav-bar li {
    display: inline-block;
    margin-right: 10px;
}

.nav-bar li a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}

.nav-bar li a:hover {
    background-color: #242424;
}


/** Landing Page Properties **/
.landing-page {
    background-image: url('landing-bg.avif');
    background-size: cover;
    position: relative;
    width: 100vw;       /* 100% of the viewport width */
    height: 100vh;      /* 100% of the viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

/* Semi-Transparent Overlay */
.landing-page::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7); 
    z-index: 2;
}

/* Landing Headline */
.landing-headline {
    color: rgba(242, 242, 242, 0.8);
    text-align: center;
    padding: 20px;
    font-size: 5.5vw;
    position: relative;
    z-index: 3;
}

/* Start Button */
.start-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #1db954;
    color: #f2f2f2;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    letter-spacing: 1.05;
    z-index: 3;
}

.start-button:hover {
    background-color: #1e8843;
}



/** Content Panel Properties **/
.content-panel {
    width: 100vw;       /* 100% of the viewport width */
    height: 100vh;      /* 100% of the viewport height */
}



/** Visualization Section Properties **/

.section-title {
    color: rgba(242, 242, 242, 0.8);
    text-align: center;
    padding-top: 5vh;
    margin-bottom: 0; 
    font-size: 5vh;
    position: relative;
    z-index: 3;
}

.section-subtitle {
    color: rgba(29, 185, 84, 0.8);
    text-align: center;
    font-size: 2.5vh;
    padding-bottom: 2vh; 
    position: relative;
    z-index: 3;
}

.section-divider {
    width: 96%; 
    border: 1px solid rgba(167, 167, 167, 0.5);
}

.checklist-container {
    width: 20%;
    height: 60%;
    display: inline-block;
    vertical-align: top;
}

.attribute-checklist {
    font-size: 1rem;
    padding-top: 6vh;
    padding-left: 5vw;
    line-height: 2;
    accent-color: #1db954;
}

.graph-container {
    width: 80%;
    height: 60%;
    display: inline-block;
}

/* Year Range Slider */
.year-range-slider .rc-slider-track {
    background-color: #1db954; /* Color of the filled part of the slider */
}

.year-range-slider .rc-slider-handle, 
.year-range-slider .rc-slider-handle:active, 
.year-range-slider .rc-slider-handle:focus, 
.year-range-slider .rc-slider-handle:hover {
    background-color: #1db954; /* Color of the slider handle */
    border-color: #1db954;
}

.year-range-slider .rc-slider-rail {
    background-color: #a7a7a7; /* Color of the unfilled part of the slider */
}

.year-range-slider {
    width: 90%; 
    margin: 0 auto; /* Center the slider */
}

/* Navigation Arrow */
.scroll-arrow {
    display: block;
    text-align: center;
    margin-bottom: 6vh;
    font-size: 6vh;
    font-weight: bold;
    color: #1db954;
    text-decoration: none; 
    transition: color 0.3s; 
    opacity: 0.7
}

.scroll-arrow:hover {
    color: #f2f2f2; /* Change color on hover */
    opacity: 1;
}



